* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  padding-block: 2em;
  width: 100vw;
  height: 100vh;
  display: grid;
  gap: 1em;
  place-content: center;
  background: #002339;
  overflow: hidden;

  & > h1 {
    color: #fff;
    text-align: center;
  }

  & #container {
    padding: 1em;
    max-width: 1200px;
    width: 100vw;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    height: 140vmax;
    width: 140vmax;
    position: absolute;

    & .card-wrapper {
      border-radius: 1vmax;
      position: absolute;
      overflow: hidden;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);

        & .card {
          opacity: 1;
        }
      }

      &:nth-child(1) {
        background-color: rgb(255, 238, 88);
        top: 20%;
        left: 5%;
      }

      &:nth-child(2) {
        background-color: rgb(66, 165, 245);
        top: 17%;
        left: 40%;
      }

      &:nth-child(3) {
        background-color: rgb(239, 83, 80);
        top: 20%;
        left: 75%;
      }

      &:nth-child(4) {
        background-color: rgb(102, 187, 106);
        top: 36%;
        left: 5%;
      }

      &:nth-child(5) {
        background-color: rgb(174, 0, 255);
        top: 32%;
        left: 40%;
      }

      &:nth-child(6) {
        background-color: rgb(255, 167, 38);
        top: 36%;
        left: 75%;
      }

      &:nth-child(7) {
        background-color: rgb(63, 81, 181);
        top: 52%;
        left: 5%;
      }

      &:nth-child(8) {
        background-color: rgb(141, 110, 99);
        top: 47%;
        left: 40%;
      }

      &:nth-child(9) {
        background-color: rgb(250, 250, 250);
        top: 52%;
        left: 75%;
      }

      &:nth-child(10) {
        background-color: rgb(255, 0, 157);
        top: 68%;
        left: 5%;
      }

      &:nth-child(11) {
        background-color: rgb(207, 253, 0);
        top: 62%;
        left: 40%;
      }

      &:nth-child(12) {
        background-color: rgb(0, 255, 179);
        top: 68%;
        left: 75%;
      }

      &:nth-child(13) {
        background-color: rgb(0, 0, 0);
        top: 83%;
        left: 5%;
      }

      &:nth-child(14) {
        background-color: rgb(0, 255, 13);
        top: 77%;
        left: 40%;
      }

      &:nth-child(15) {
        background-color: rgb(0, 247, 255);
        top: 83%;
        left: 75%;
      }
    }

    & .card {
      background-color: #fff;
      width: 320px;
      height: max-content;
      overflow: hidden;
      opacity: 0;
      transition: opacity 800ms ease, transform 800ms ease;

      & .image-box {
        width: 100%;
        height: 150px;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & :is(h2, p, .link-box) {
        padding: 10px;
      }

      & .link-box {
        padding: 15px;
        padding-bottom: 30px;
        display: flex;
        gap: 1em;

        & a {
          text-decoration: none;

          & button {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
              rgba(0, 0, 0, 0.23) 0px 3px 6px;
            padding: 10px 3em;
            background-color: rgb(0, 162, 255);
            color: #fff;
            border: none;
            outline: none;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }

  & .social-link {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    & .meta-link {
      align-items: center;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.155);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: inline-flex;
      gap: 10px;
      padding: 10px 20px;
      text-decoration: none;
      transition: background-color 400ms, border-color 400ms;
      z-index: 100;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }

      & i {
        font-size: 25px;

        &.fa-github {
          color: #fff;
          background-color: #000;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        &.fa-linkedin {
          color: rgb(0, 162, 255);
          background-color: #fff;
          border-radius: 6px;
          padding-top: 2px;
          padding-inline: 2px;
          overflow: hidden;
        }
      }

      & > span {
        color: white;
        font-weight: 500;
      }
    }
  }
}
