* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  padding-block: 2em;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  gap: 1em;
  place-content: center;
  background: #002339;
  overflow-x: hidden;

  & > h1 {
    color: #fff;
    text-align: center;
  }

  & #container {
    padding: 1em;
    width: 100vw;
    max-width: 1200px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    align-items: center;
    justify-content: space-evenly;

    & .card {
      border-radius: 2rem;
      width: 320px;
      height: 350px;
      overflow: hidden;
      position: relative;
      transition: 0.5s ease;

      &:hover {
        cursor: pointer;
        scale: 1.1;
        border-radius: 1rem;

        & .bottom {
          top: 50%;
        }

        & .top {
          background-color: #00000018;
        }
      }

      & .top {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
      }

      & .bottom {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1em;
        background-color: #ffffffa9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: top 0.5s ease;

        & .link-box {
          display: flex;
          gap: 1em;

          & a {
            text-decoration: none;

            & button {
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
              padding: 10px 3em;
              background-color: rgb(0, 162, 255);
              color: #fff;
              border: none;
              outline: none;
              border-radius: 8px;
              display: flex;
              align-items: center;
              gap: 10px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  & .social-link {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media (max-width: 600px) {
      top: 3.5em;
    }

    & .meta-link {
      align-items: center;
      backdrop-filter: blur(3px);
      background-color: rgba(255, 255, 255, 0.155);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 6px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      display: inline-flex;
      gap: 10px;
      padding: 10px 20px;
      text-decoration: none;
      transition: background-color 400ms, border-color 400ms;
      z-index: 100;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }

      & i {
        font-size: 25px;

        &.fa-github {
          color: #fff;
          background-color: #000;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        &.fa-linkedin {
          color: rgb(0, 162, 255);
          background-color: #fff;
          border-radius: 6px;
          padding-top: 2px;
          padding-inline: 2px;
          overflow: hidden;
        }
      }

      & > span {
        color: white;
        font-weight: 500;
      }
    }
  }
}
