*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 98vw;
    height: 98vh;
    position: relative;

    & div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #000;
        display: grid;
        place-items: center;
        font-size: 8em;
        color: #fff;
        font-weight: 900;
        mix-blend-mode: multiply;
    }

    & video{
        width: 100vw;
        height: 100%;

        & source{
            height: 100vh;
            width: 100vw;
        }
    }
}