*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container , .home{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightblue;
    border-radius: 4px;
    width: 100%;
    margin: auto;
}



fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

input[type="submit"]{
    background-color: #4daea1;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover{
    background-color: #4caf84;
}

.main_heading{
    text-align: center;
    text-decoration: underline 3px;
}

.info{
    text-align: center;
    text-decoration: underline 2px;
}