*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, #03a9f4, #ff53a0);

    .container{
        position: relative;
        transform-style: preserve-3d;
        perspective: 500px;
        display: flex;
        flex-direction: column;
        gap: 0;
        transition: 0.5s;

        &:hover{
            gap: 30px;
        }

        &:hover .list:nth-child(1){
            background: #fff;
            transform: translateZ(0px) translateY(0px);
        }
        &:hover .list:nth-child(2){
            background: #fff;
            transform: translateZ(0px) translateY(0px);
        }
        &:hover .list:nth-child(3){
            background: #fff;
            transform: translateZ(0px) translateY(0px);
        }
        &:hover .list:nth-child(4){
            background: #fff;
            transform: translateZ(0px) translateY(0px);
        }

        .list{
            position: relative;
            width: 450px;
            height: 100px;
            padding: 15px;
            background: #dbdbdb;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            border-radius: 6px;
            box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.25);
            transition: 0.5s;
            transition-delay: calc(var(--i) * 0.05s);

            &:nth-child(1){
                transform: translateZ(-75px) translateY(20px);
            }

            &:nth-child(3){
                transform: translateZ(75px) translateY(-30px);
                background: #eee;
            }

            &:nth-child(4){
                transform: translateZ(150px) translateY(-75px);
                background: #fff;
            }

            & img{
                max-width: 70px;
            }


            .content{
                width: 100%;
                cursor: pointer;

                & h4{
                    font-weight: 600;
                    color: #333;
                }

                & p{
                    position: relative;
                    color: #333;
                    line-height: 1em;
                    width: 100%;

                    & span{
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 0.75em;
                        color: #888;
                    }
                }
            }
        }
    }
}