* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#9bf8f4, #6f7bf7);
    overflow-x: hidden;

    @media screen and (width <= 768px){
        height: fit-content;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .container{
        padding: 2em;
        width: fit-content;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        @media screen and (width <= 768px) {
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            height: fit-content;
            align-items: center;
        }
    }
    .container div{
        width: 6em;
        height: 20em;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: 0.4s ease;

        @media screen and (width <= 768px) {
            width: 90%;
            height: 6em;
        }

        &:hover{
            background-position: unset;
            width: 15em;
            height: 20em;

            @media screen and (width <= 768px) {
                height: 22em;
                width: 90%;
            }

            &:is(:nth-child(1), :nth-child(2)) {
                background-position: bottom;
            }
        }
    }
}