* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;

  & .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(./assets/bg.webp);
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: url(./assets/splash.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      mix-blend-mode: screen;
    }
  }
}
