* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#9bf8f4, #6f7bf7);

    @media screen and (width <= 768px){
        height: fit-content;
    }

    & video{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        object-fit: cover;

        @media(min-aspect-ratio: 16/9){
            width: 100%;
            height: auto;
        }
    }

    .container{
        padding: 2em;
        width: fit-content;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        @media screen and (width <= 768px) {
            flex-direction: column;
            flex-wrap: nowrap;
            width: 50%;
            height: fit-content;
            align-items: center;
        }
    }
    .container div{
        width: 6em;
        height: 20em;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: 0.4s ease;

        @media screen and (width <= 768px) {
            width: 50%;
            height: 6em;
        }

        &:hover{
            background-position: unset;
            width: 15em;

            @media screen and (width <= 768px) {
                height: 15em;
            }
        }
    }
}